body {
  overflow: hidden;
  font-family: sans-serif;
}

#footer {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#query {
  width: 50%;
  font-size: 24px;
  outline: 0;
  position: relative;
}

#title {
  font-size: 56px;
}

#visual {
  color: pink;
}

#parse {
  color: lightblue;
}

#visualization {
  position: absolute;
  width: 100%;
  height: 100%;
}

svg {
  position: relative;
}

#about {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 56px;
  color: lightgrey;
}
