<!doctype html>
<html>
<head>
  <title>visualParse</title>

  <link href='static/css/lib/vis-network.min.css' rel='stylesheet' type='text/css' />
  <link href='static/css/style.css' rel='stylesheet' type='text/css' />
  <link rel='shortcut icon' href='static/img/favicon.ico'>

  <script type='text/javascript' src='static/js/lib/vis-network.min.js'></script>
  <script type='text/javascript' src='static/js/descriptions.js'></script>
  <script type='text/javascript' src='static/js/TokenNode.js'></script>
  <script type='text/javascript' src='static/js/ParseTree.js'></script>
  <script type='text/javascript' src='static/js/main.js'></script>
</head>

<body>
  <div id='visual'></div>
  <div id='header'>
    <input id='query' type='text' value='This is a dependency-based parse tree. Click, hover and type to explore!'>
    <div id='title'>visualParse</div>
  </div>
  <div id='about'>about</div>
</html>
