<!doctype html>
<html>
<head>
  <title>visualParse</title>

  <link href='static/css/lib/vis-network.min.css' rel='stylesheet' type='text/css' />
  <link href='static/css/stylesheet.css' rel='stylesheet' type='text/css' />
  <link rel='shortcut icon' href='static/img/favicon.ico'>

  <script type='text/javascript' src='static/js/lib/vis-network.min.js'></script>
  <script type='text/javascript' src='static/js/descriptions.js'></script>
  <script type='text/javascript' src='static/js/token_node.js'></script>
  <script type='text/javascript' src='static/js/parse_tree.js'></script>
  <script type='text/javascript' src='static/js/visual.js'></script>
  <script type='text/javascript' src='static/js/main.js'></script>
</head>

<body>
  <div id='visualization'></div>
  <div id='about'>about</div>
  <div id='footer'>
    <div id='title'><span id='visual'>visual</span><span id='parse'>Parse</span></div>
    <input id='query' type='text' value='This is a dependency parse tree. Click, hover and type to explore!'>
  </div>
</html>

<!-- <!doctype html>
<html>
<head>
  <title>modl</title>

  <link href='static/css/lib/vis-network.min.css' rel='stylesheet' type='text/css' />
  <link href='static/css/style.css' rel='stylesheet' type='text/css' />
  <link rel='shortcut icon' href='static/img/favicon.ico'>

  <script type='text/javascript' src='static/js/lib/vis-network.min.js'></script>
  <script type='text/javascript' src='static/js/Visual.js'></script>
  <script type='text/javascript' src='static/js/main.js'></script>
</head>

<body>
  <textarea id='page'></textarea>
  <div id='visual'></div>
</html> -->
