<!doctype html>
<html>
  <head>
    <title>visualParse</title>

    <link href='static/css/lib/vis-network.min.css' rel='stylesheet' type='text/css' />
    <link href='static/css/style.css' rel='stylesheet' type='text/css' />
    <!-- <link rel='shortcut icon' href='static/img/favicon.ico'> -->

    <script type='text/javascript' src='static/js/lib/vis-network.min.js'></script>
    <script type='text/javascript' src='static/js/main.js'></script>

  </head>

  <body>
    <div id='top-left'>
      <input id='query' type='text' value='Type to parse'/>
      <div id='to-collapse'>Click to collapse</div>
      <div id='to-learn'>Hover to learn</div>
    </div>

    <div id='visualization'></div>

    <div id='bottom-right'>
      <div id='about'>About</div>
      <div id='more'>More</div>
    </div>

  </body>
</html>
